@import "main-styles";
.footer{
  background-color: lighten($secondary-color, 50%);

  box-shadow: 0 0 10px  $primary-color;
  &__rights{
    order: 2;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  &__arrow-up{
    order: 1;
    width: 100%;
    text-align: center;
    margin: 10px 0;

    button{
      background-color: transparent;
      border:none;
    }

  }

  &__logo-fb{
    width: 100%;
    text-align: center;
    order: 3;
    margin: 10px 0;
  }

}

.footer .is-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@media screen and (min-width: 768px) {
  .footer .is-container{
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer{

    &__rights{
      order: 1;
      text-align: left;
    }
    &__arrow-up{
      order: 2;
    }
    &__logo-fb{
      order: 3;
      text-align: right;
    }

  }

  @media screen and (min-width: 1200px) {

    .footer__br{
      display: none;
    }

  }

}
