@import "main-styles";

.header {
  box-shadow: 0 0 10px $primary-color;

  &__logo {
    width: 25%;
    height: 50%;
    margin: 25px 0;
  }
}

.is-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  position: absolute;
  top: -50vh;
  left: 0;
  width: 100%;

  transition: 0.25s;

  z-index: 10;

  &--is-open {
    top: 0;
  }

  &__list {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: block;
    width: 100%;
    padding: 10px 0;

    background-color: rgba(255, 255, 255, 0.75);
  }

  &__link {
    display: block;
    width: 60%;
    padding: 12px;
    margin: 0 auto;
    text-align: center;

    font-family: $primary-font-family;
    text-decoration: none;
    color: $primary-color;
  }

  &__link:hover, &__link:active {
    text-decoration: underline;
  }

  &__link--active {
    font-weight: bold;
  }
}


.mobile-btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;

  overflow: hidden;

  position: relative;
  z-index: 20;

  &__line {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: $primary-color;

    transition: 0.25s;
  }

  &__line:before {
    position: absolute;
    top: -15px;
    content: "";
    display: block;
    width: 100%;
    height: 5px;

    background-color: $primary-color;

  }

  &__line:after {
    position: absolute;
    bottom: -15px;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $primary-color;
  }

  .mobile-btn__line--is-open.mobile-btn__line {
    //transform: translateX(45px);
    background-color: transparent;
  }

  .mobile-btn__line--is-open.mobile-btn__line:after {
    top: 0;
    transform: rotate(45deg);
  }

  .mobile-btn__line--is-open.mobile-btn__line:before {
    top: 0;
    transform: rotate(-45deg);
  }


}


@media screen and (min-width: 1200px) {
.header .is-container{
  display: flex;
}

  .navigation{
    position: static;
    font-size: 1.2em;

    &__list{
      display: flex;
      flex-direction: row;
    }
  }




  .mobile-btn{
    display: none;
  }

}
