<app-banner
backgroundImagePath="assets/contact/background_image.jpg"
header="Kontakt"
subHeader="z nami"
></app-banner>
<app-section-title
header="Kontakt"
subHeader="z nami"
></app-section-title>

<section class="map">
  <p>skontaktuj się z nami osobiście lub za pośrednictwem formularza kontaktowego</p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.2155618835523!2d19.95385341533412!3d50.04479307942148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b457529bc83%3A0xe35dd14768727664!2sBoles%C5%82awa%20Limanowskiego%2036%2C%2033-332%20Krak%C3%B3w!5e0!3m2!1spl!2spl!4v1588360127657!5m2!1spl!2spl" aria-hidden="false"></iframe>

  <div class="is-container">
<div class="contact-container">
  <app-contact-form></app-contact-form>
  <div class="address">
    <h3>Kontakt</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab enim hic impedit labore laboriosam molestias nam omnis suscipit velit voluptates!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab enim hic impedit labore laboriosam molestias nam omnis suscipit velit voluptates!</p>

    <p class="street">
      B.Limanowskiego 36/30 <br>
      Kraków
    </p>

    <p class="phones">
      <a href="tel:">03 123 45 67</a><br>
      <a href="tel:">0412 34 678 </a>
    </p>

    <p class="web">
      <a href="mailto:">info@rorun.com</a><br>
      <a href="">www.rorun.com</a>
    </p>

  </div>


</div>


  </div>
</section>
