.news-description{
  p{
    line-height: 1.6em;
    color: darkgrey;
  }
}
.photo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  img{
    margin: 15px;
  }
}

.news{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a{
    text-decoration: none;
    color: black;
  }
}
