@import "main-styles";

.container {
  margin: 25px;
  background-color: white;

  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
  }


  h3{
    font-family: $primary-font-family;
    margin-left: 5px;
  }

  p{
    margin-left: 5px;
    font-family: $primary-font-family;
    font-weight: lighter;
  }

}

.container:after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: $primary-color;
}
